.page(ng-controller="SliderCtrl")
    .jumbotron
            .container(slider)
                .slide.col-xs-12.col-sm-offset-3.col-sm-6(ng-repeat="image in images", ng-show="image.visible")
                    span.starRate(star-rating, rating-value="image.rate" max="5" on-rating-selected="rateFunction(rating, $index)")
                    img.slide.img-responsive(ng-src="{{image.url}}")
                .arrows.container
                    .arrowsBl
                        a.arrow.pull-left(href="", ng-click="prevMain()") PREV
                    .arrowsBl
                        .btn.btn-danger.center-block(ng-click="openPop()") PopUp
                    .arrowsBl
                        a.arrow.pull-right(href="", ng-click="nextMain()") NEXT

    .row
        .container
            .col-sm-4
                h4 Images list
                .upload_section(ng-controller = "CtrlUpload")
                    input(type="file", file-model="myFile" )
                    button.btn.btn-defalut.uploadBtn(ng-click="uploadFile()") UPLOAD

                div
                    ul.list-group
                        li.list-group-item(ng-repeat="image in images")
                            div.urlData {{ image.url }}

            .col-sm-8
                .panel.panel-default
                    .panel-heading Slide Detalis
                    .panel-body
                        table.table
                            thead
                                tr
                                    td.col-xs-2  Image ID
                                        div.hidden-xs
                                            a(href="" ng-click="predicate = 'id'; revers=false")
                                                span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                            a(href="" ng-click="predicate = '-id'; revers=false")
                                                span.glyphicon.glyphicon-chevron-down(aria-hidden="true")

                                    td.col-xs-6 Image URL
                                        div.hidden-xs
                                            a(href="" ng-click="predicate = 'url'; revers=false")
                                                span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                            a(href="" ng-click="predicate = '-url'; revers=false")
                                                span.glyphicon.glyphicon-chevron-down(aria-hidden="true")

                                    td.col-xs-2  Impressions Count
                                        div.hidden-xs
                                            a(href="" ng-click="predicate = 'count'; revers=false")
                                                span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                            a(href="" ng-click="predicate = '-count'; revers=false")
                                                span.glyphicon.glyphicon-chevron-down(aria-hidden="true")

                            tr(ng-repeat="image in images | orderBy:predicate:reverse")
                                td.col-xs-2 {{ image.id }}
                                td.col-xs-6
                                    div.urlData {{ image.url }}
                                td.col-xs-2 {{ image.count }}

    // Modal
    #SlidePop.modal.fade(tabindex="-1", role="dialog", aria-labelledby="SlidePopLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(ng-click="closePop()", type="button", data-dismiss="modal")
                        span(aria-hidden="true") &#215;
                        span.sr-only Close
                    h4#SlidePopLabel.modal-title Modal title
                .modal-body
                    div(popup)
                        .slide.col-xs-12.col-sm-offset-3.col-sm-6(ng-repeat="image in images", ng-show="image.visiblePop")
                            img.slide.img-responsive(ng-src="{{image.url}}")