.slider(ng-controller="SliderCtrl")
    .jumbotron
        .container
            .col-xs-12.col-sm-offset-3.col-sm-6
                //#slideshow2(slideshow, data-cycle-fx="carousel", data-cycle-carousel-visible="3", data-cycle-speed="10", data-cycle-prev="#prev", data-cycle-next="#next", data-cycle-carousel-fluid="true")
                #slideshow2(slideshow, data-cycle-speed="500", data-cycle-prev="#prev", data-cycle-next="#next")
                    div.slideBl(ng-repeat="image in images" ng-init="rating = image.rate" id="slide_{{image.id}}")
                        span(star-rating, rating-value="rating" max="5" on-rating-selected="rateFunction(rating)")
                        img.slide.img-responsive(ng-src="{{image.url}}")
                        div() {{image.count}}
            .col-xs-12
                #prev.slider-nav.btn.btn-default.pull-left Prev
                #next.slider-nav.btn.btn-default.pull-right Next

    .container
        .col-sm-4
            .upload_section
                form.share_form(action="/share", method="POST")
                    input(name="file" type="file")
                    a.btn.btn-default.upload_button(href="") Upload
            div
                ul.list-group
                    li.list-group-item(ng-repeat="image in images") {{ image.url }}

        // pre Sorting predicate = {{predicate}}; reverse = {{reverse}}
        .col-sm-8
            .panel.panel-default
                .panel-heading Slide Detalis
                .panel-body
                    table.table
                        thead
                            tr
                                td Image ID
                                    a(href="" ng-click="predicate = 'id'; revers=false")
                                        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                    a(href="" ng-click="predicate = '-id'; revers=false")
                                        span.glyphicon.glyphicon-chevron-down(aria-hidden="true")

                                td Image URL
                                    a(href="" ng-click="predicate = 'url'; revers=false")
                                        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                    a(href="" ng-click="predicate = '-url'; revers=false")
                                        span.glyphicon.glyphicon-chevron-down(aria-hidden="true")
                                td Impressions Count
                                    a(href="" ng-click="predicate = 'count'; revers=false")
                                        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                    a(href="" ng-click="predicate = '-count'; revers=false")
                                        span.glyphicon.glyphicon-chevron-down(aria-hidden="true")
                        tr(ng-repeat="image in images | orderBy:predicate:reverse")
                            td {{ image.id }}
                            td {{ image.url }}
                            td {{ image.count }}

    // Modal
    #SlidePop.modal.fade(tabindex="-1", role="dialog", aria-labelledby="SlidePopLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close#closepop(closepopup, type="button", data-dismiss="modal")
                        span(aria-hidden="true") &#215;
                        span.sr-only Close
                    h4#SlidePopLabel.modal-title Modal title
                .modal-body
                    #slideshow2pop(slideshowpop, data-cycle-speed="1500", random=true)
                        div.slideBl(ng-repeat="image in images" id="slidePop_{{image.id}}")
                            img.slide.img-responsive(ng-src="{{image.url}}")