.slider(ng-controller="SliderCtrl")
    .jumbotron
        .container
            .col-xs-12.col-sm-offset-3.col-sm-6
                //#slideshow2(slideshow, data-cycle-fx="carousel", data-cycle-carousel-visible="3", data-cycle-speed="10", data-cycle-prev="#prev", data-cycle-next="#next", data-cycle-carousel-fluid="true")
                #slideshow2(slideshow, data-cycle-speed="500", data-cycle-prev="#prev", data-cycle-next="#next", data-index=1)
                    div.slideBl(ng-repeat="image in images" ng-init="rating = image.rate" id="{{image.id}}")
                        span(star-rating, rating-value="rating" max="5" on-rating-selected="rateFunction(rating)")
                        img.slide.img-responsive(ng-src="{{image.url}}")
                        div() {{image.count}}
            .col-xs-12
                #prev.slider-nav.btn.btn-default.pull-left Prev
                #next.slider-nav.btn.btn-default.pull-right Next

    .container
        .col-sm-4
            .upload_section
                form.share_form(action="/share", method="POST")
                    .drag_area
                        .drag_inner
                            span
                                | Drop Photo Here
                                span.small or
                            .upload_button_holder
                                input.select_files(type="submit", value="Select Photo")
                                input.cloudinary-fileupload(type="file", data-cloudinary-field="photo_id", data-form-data="{'timestamp':1418997510,'transformation':'c_limit,h_1200,w_1200','callback':'http://edgedemo.cloudinary.com/cloudinary_cors.html','image_metadata':1,'eager':'c_fill,g_face,h_133,r_20,w_200/fl_relative,g_center,l_logo_watermark,o_40,w_0.9|c_fill,e_sepia,g_face,h_133,r_20,w_200/fl_relative,g_center,l_logo_watermark,o_40,w_0.9|c_fill,e_improve,g_face,h_133,r_20,w_200/fl_relative,g_center,l_logo_watermark,o_40,w_0.9|c_fill,e_hue:70,g_face,h_133,r_20,w_200/e_blue:40/fl_relative,g_center,l_logo_watermark,o_40,w_0.9|c_limit,h_600,w_600','signature':'91400bdf2ae871597f0713985346968dc9fec9f0','api_key':'584952392728183'}", data-url="https://api.cloudinary.com/v1_1/hzxyensd5/image/upload", name="file")
                    .upload_progress
                        span Uploading...
                        .progress_bar
                            .completed
                    .processing_progress
                        span Processing...
                        // img alt='Processing...' height='32' src='/ajax-loader.gif' width='32'


              //form.upload_form(method='POST')
                //    .form_line
                //        label Upload File:
                //        .form_controls
                //            .upload_button_holder
                                //input(name="file" type="file")
                                //<input name="file" type="file" class="cloudinary-fileupload" data-cloudinary-field="image_id" data-form-data="{
                                //    &quot;timestamp&quot;:  1345719094,
                                //    &quot;callback&quot;: &quot;https://www.example.com/cloudinary_cors.html&quot;,
                                //    &quot;signature&quot;: &quot;7ac8c757e940d95f95495aa0f1cba89ef1a8aa7a&quot;,
                                //    &quot;api_key&quot;: &quot;1234567890&quot;
                                //  }"></input>
                            //a.btn.btn-default.upload_button(href="") Upload
            div
                ul.list-group
                    li.list-group-item(ng-repeat="image in images") {{ image.url }}

        // pre Sorting predicate = {{predicate}}; reverse = {{reverse}}
        .col-sm-8
            .panel.panel-default
                .panel-heading Slide Detalis
                .panel-body
                    table.table
                        thead
                            tr
                                td Image ID
                                    a(href="" ng-click="predicate = 'id'; revers=false")
                                        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                    a(href="" ng-click="predicate = '-id'; revers=false")
                                        span.glyphicon.glyphicon-chevron-down(aria-hidden="true")

                                td Image URL
                                    a(href="" ng-click="predicate = 'url'; revers=false")
                                        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                    a(href="" ng-click="predicate = '-url'; revers=false")
                                        span.glyphicon.glyphicon-chevron-down(aria-hidden="true")
                                td Impressions Count
                                    a(href="" ng-click="predicate = 'count'; revers=false")
                                        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                                    a(href="" ng-click="predicate = '-count'; revers=false")
                                        span.glyphicon.glyphicon-chevron-down(aria-hidden="true")
                        tr(ng-repeat="image in images | orderBy:predicate:reverse")
                            td {{ image.id }}
                            td {{ image.url }}
                            td {{ image.count }}

    // Modal
    #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal")
                        span(aria-hidden="true") &#215;
                        span.sr-only Close
                    h4#myModalLabel.modal-title Modal title
                .modal-body
                    #slideshow2(slideshow, data-cycle-speed="1500")
                        div.slideBl(ng-repeat="image in images")
                            img.slide.img-responsive(ng-src="{{image.url}}")